@charset "UTF-8";
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  margin: 0;
  padding: 0; }

.hero-laim {
  height: 45%;
  min-height: 45%;
  background-image: url("../img/hero-laim.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center; }
  .hero-laim h1 {
    font-size: 3.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 0.05em;
    color: white; }
    @media screen and (min-width: 53.75em) {
      .hero-laim h1 {
        font-size: 5.625em; } }
  .hero-laim h2 {
    font-size: .875em;
    font-weight: bold;
    letter-spacing: 0.125em;
    color: #303f49; }

div.hero-laim-ver-2 {
  height: 45%;
  min-height: 45%;
  background-image: url("../img/hero-laim.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-left: 8%; }
  div.hero-laim-ver-2 .hero-container {
    color: #303f49; }
    div.hero-laim-ver-2 .hero-container h1 {
      margin-bottom: 0.2em;
      text-transform: uppercase;
      font-size: 2.5em; }
      @media screen and (min-width: 53.75em) {
        div.hero-laim-ver-2 .hero-container h1 {
          font-size: 4em; } }
    div.hero-laim-ver-2 .hero-container h2 {
      margin-top: 0.2em;
      font-size: 0.8em; }

.res-button {
  position: relative;
  color: #FF601A;
  margin: 1.25em 0 0 -6.75em;
  background: white;
  width: 13.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: solid 0.18em #FF601A;
  font-size: 1em;
  line-height: 0.9em;
  left: 50%; }

.res-button:focus {
  outline: 0; }

.res-button:hover {
  background: white;
  color: #FF601A; }

.second {
  margin-bottom: 5em; }

a {
  text-decoration: none; }

.first-grid {
  padding: 5% 8%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em; }
  @media screen and (min-width: 26.5625em) {
    .first-grid {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 53.75em) {
    .first-grid {
      grid-template-columns: 1fr 1fr 1fr; } }

.single-home-view {
  background-image: url("../img/hero-laim.jpg");
  background-position: center;
  height: 12.6em;
  grid-template-columns: 1fr;
  display: grid;
  align-items: center; }

.nr2 {
  grid-column: auto; }
  @media screen and (min-width: 26.5625em) {
    .nr2 {
      grid-column: auto; } }
  @media screen and (min-width: 53.75em) {
    .nr2 {
      grid-column: 2/4; } }

.nr3 {
  grid-column: auto; }
  @media screen and (min-width: 26.5625em) {
    .nr3 {
      grid-column: 1/3; } }
  @media screen and (min-width: 53.75em) {
    .nr3 {
      grid-column: 1/3; } }

span.house-logo {
  margin: 0 auto 0.8em auto;
  padding: 0;
  width: 3.3em;
  height: 3.3em;
  background: white;
  align-self: flex-end;
  border-radius: 1.65em; }

span.single-home-button {
  margin: 0 auto;
  padding: 0;
  width: 10em;
  height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
  font-family: "Roboto";
  font-weight: bold;
  background-color: white;
  color: #303f49;
  border-radius: 0;
  align-self: flex-start; }

.headlines {
  text-align: center;
  font-size: 1.5em;
  color: #303f49;
  padding: 4% 0 2% 0; }

.galery-grid {
  margin: 0 0;
  padding: 0 auto 5% auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  justify-items: center; }
  @media screen and (min-width: 742px) {
    .galery-grid {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 1171px) {
    .galery-grid {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 62.0625em;
      margin: 0 auto; } }

@media screen and (min-width: 742px) {
  .galery-grid a:nth-child(odd) {
    justify-self: end; } }

@media screen and (min-width: 742px) {
  .galery-grid a:nth-child(even) {
    justify-self: start; } }

@media screen and (min-width: 1171px) {
  .galery-grid a:nth-child(3n) {
    justify-self: start; } }

@media screen and (min-width: 1171px) {
  .galery-grid a:nth-child(3n-2) {
    justify-self: end; } }

@media screen and (min-width: 1171px) {
  .galery-grid a:nth-child(3n-1) {
    justify-self: center; } }

.galery-image, .thumb-image {
  max-width: 20.1875em;
  min-height: 12.625em; }

.comment-container {
  padding: 0 20% 5% 20%; }

.comment {
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 100%; }
  .comment .comment-image,
  .comment .comment-content {
    display: table-cell;
    vertical-align: top; }
  .comment .comment-image {
    padding-right: 1.4em; }
    .comment .comment-image > img {
      background: #d8d8d8;
      border-radius: 3px;
      display: block;
      height: auto;
      max-width: none;
      padding: 0.7em;
      width: 4em; }
    .comment-reverse-order .comment .comment-image {
      padding-left: 10px;
      padding-right: 0; }
  .comment .comment-content {
    width: 100%; }
    .comment .comment-content h1 {
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 0 0.5em 0;
      color: #303f49; }
    .comment .comment-content p {
      font-size: 0.875em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
      color: #808c93; }

.footer {
  background: #efefef;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em; }
  .footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(48, 63, 73, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: #303f49; }
  .footer li h3 {
    color: #303f49;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer p {
    color: rgba(48, 63, 73, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

#map_canvas {
  height: 400px;
  width: 100%; }

#map_canvas img {
  max-width: none; }

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em; }

#map_canvas .firstHeading {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0; }

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0; }

.google-map p, .button-container p {
  padding: 8% 20% 3% 20%;
  font-size: 0.8em;
  color: #808c93;
  text-align: center; }

.paragraph-container {
  padding: 5% 20% 10% 20%; }
  .paragraph-container h2 {
    font: 1.625em "Roboto";
    font-weight: bold;
    color: #303f49; }
  .paragraph-container .gray-intro {
    font-style: italic;
    color: #808c93; }
  .paragraph-container p {
    padding-top: 5%; }
  .paragraph-container figure {
    padding: 5% 20%;
    text-align: center; }
    .paragraph-container figure figcaption {
      font-style: italic;
      color: #808c93;
      font-size: 0.8em; }

.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0; }
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: block; }
  .accordion-tabs-minimal .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-header-and-content {
        display: inline; } }
  .accordion-tabs-minimal .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #303f49;
    display: block;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-link {
        border-top: 0;
        display: inline-block; } }
    .accordion-tabs-minimal .tab-link:hover {
      color: #1565c0; }
    .accordion-tabs-minimal .tab-link:focus {
      outline: none; }
    .accordion-tabs-minimal .tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 40em) {
        .accordion-tabs-minimal .tab-link.is-active {
          border: 1px solid #ddd;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 3em;
    width: 100%;
    color: #808c93;
    font-size: 0.8em; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #ddd;
        float: left; } }

.tabbed-text {
  padding: 5% 10% 5% 10%; }
  .tabbed-text a {
    font-weight: bold; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 10% 5% 10%; }

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(201, 201, 201, 0.5);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 1.375em 1.875em; }
  .card .card-header {
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0;
    transition: all 0.2s ease-in-out; }
  .card .card-price {
    margin-top: 1em;
    margin-bottom: 1em; }
  .card .card-copy, .card .card-price {
    color: #808c93;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0; }
    .card .card-copy p, .card .card-price p {
      margin: 0; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.centered-navigation {
  background-color: #FFF;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #E7F1EC;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.6666666667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.1538461538px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #E7F1EC;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
