//color
$textColor: #303f49;
$orangeColor: #FF601A;
$baseColor: #FFF;
$grayColor: #808c93;

//size
$large-screen_2: 1171px !default;
$large-screen: 53.75em !default;
$mobile-screen_2: 742px !default;
$mobile-screen: 26.5625em !default;
