html {
  margin: 0 auto;
  padding: 0;
}

//Heros
.hero-laim {
  height: 45%;
  //must do something about min-height
  min-height: 45%;
  background-image: url("../img/hero-laim.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  h1 {
      font-size: 3.25em;
      font-weight: bold;
      text-transform: uppercase;
      margin: auto;
      letter-spacing: 0.05em;
      color: white;
      @include media ($large-screen) {
        font-size: 5.625em;
      }
  }
  h2 {
      font-size: .875em;
      font-weight: bold;
      letter-spacing: 0.125em;
      color: $textColor;
  }
}

div.hero-laim-ver-2 {
  height: 45%;
  min-height: 45%;
  background-image: url("../img/hero-laim.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-left: 8%;
  .hero-container {
    color: $textColor;
    h1 {
      margin-bottom: 0.2em;
      text-transform: uppercase;
      font-size: 2.5em;
      @include media ($large-screen) {
        font-size: 4em;
      }
    }
    h2 {
      margin-top: 0.2em;
      font-size: 0.8em;
    }
  }
}

//Reservation buttons and hover/focus control
.button-container {
  margin: 1.25em auto 4.375em auto;
  text-align: center;
}

.res-button {
  color: $orangeColor;
  background: white;
  width: 13.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: solid 0.18em $orangeColor;
  font-size: 1em;
  line-height: 0.8em;

}

.res-button:focus {
  outline: 0;
}

.res-button:hover {
  background: white;
  color: $orangeColor;
}

//Main content
main {
  margin: 0 8%;
}

//First grid
a {
  text-decoration: none;
}

.first-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;

  @include media ($mobile-screen) {
    grid-template-columns: 1fr 1fr;
  }
  @include media ($large-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.single-home-view {
  background-image: url("../img/hero-laim.jpg");
  background-position: center;
  height: 12.6em;
  grid-template-columns: 1fr;
  display: grid;
  align-items: center;
}

.nr2 {
  grid-column: auto;
  @include media ($mobile-screen) {
    grid-column: auto;
  }
  @include media ($large-screen) {
    grid-column: 2/4;
  }
}

.nr3 {
  grid-column: auto;
  @include media ($mobile-screen) {
    grid-column: 1/3;
  }
  @include media ($large-screen) {
    grid-column: 1/3;
  }
}

//"Buttons" on 1st grid
span.house-logo {
  margin: 0 auto 0.8em auto;
  padding: 0;
  width: 3.3em;
  height: 3.3em;
  background: white;
  align-self: flex-end;
  border-radius: 1.65em;
}

span.single-home-button {
  margin: 0 auto;
  width: 10em;
  height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
  font-weight: bold;
  background-color: white;
  color: $textColor;
  border-radius: 0;
  align-self: flex-start;
}

//Headlines
.headlines {
  margin: 4.375em auto 1.25em auto;
  text-align: center;
  font-size: 1.5em;
  color: $textColor;
}

//Second grid / Galery
.galery-grid {
  margin: 0 0;
  padding: 0 auto 5% auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  justify-items: center;

  @include media ($mobile-screen_2) {
    grid-template-columns: 1fr 1fr;

  }
  @include media ($large-screen_2) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 62.0625em;
    margin: 0 auto;
  }
}

.galery-grid a:nth-child(odd) {
  @include media ($mobile-screen_2) {
    justify-self: end;
  }
}
.galery-grid a:nth-child(even) {
  @include media ($mobile-screen_2) {
    justify-self: start;
  }
}
.galery-grid a:nth-child(3n) {
  @include media ($large-screen_2) {
    justify-self: start;
  }
}
.galery-grid a:nth-child(3n-2) {
  @include media ($large-screen_2) {
    justify-self: end;
  }
}
.galery-grid a:nth-child(3n-1) {
  @include media ($large-screen_2) {
    justify-self: center;
  }
}

//Correction for the last image on a medium screen
.galery-grid a:last-child {
  @include media ($mobile-screen_2) {
    grid-column: 1/3;}
}
.galery-grid a:last-child {
  @include media ($large-screen_2) {
    grid-column: 3/4;}
}

.galery-image, .thumb-image {
  //max-width: 20.1875em;
  //min-height: 12.625em;
}

//Comment section
.comment-container {
    padding: 0 20% 0 20%;
}

.comment {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-background: lighten($action-color, 15%);

  $comment-image-vert-alignment: top;

  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      background: #d8d8d8;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $comment-image-padding;
      width: $comment-image-width;
    }

    .comment-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .comment-content {
    width: 100%;

    h1 {
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 0 0.5em 0;
      color: $textColor
    }

    p {
      font-size: 0.875em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
      color: #808c93
    }

  }
}

//Footer
.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: #efefef;
  $footer-color: #303f49;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $base-spacing;
  }

  ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }


  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

//Map
#map_canvas {
  height: 400px;
  width: 100%;
}

#map_canvas img {
  max-width: none;
// to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

.google-map {
  margin: 0 -10% 0 -10%;
}

.google-map p, .button-container p {
  margin: 3.125em auto;
  width: 50%;
  font-size: 0.8em;
  color:#808c93;
  text-align: center;
}

//Not the real footer
.paragraph-container {

  padding: 5% 20% 10% 20%;
  h2 {
    font: 1.625em "Roboto";
    font-weight: bold;
    color: $textColor;
  }
  .gray-intro {
    font-style: italic;
    color: #808c93;
  }
  p {
    padding-top: 5%;
  }
  figure {
    padding: 5% 20%;
    text-align: center;
    figcaption {
      font-style: italic;
      color: #808c93;
      font-size: 0.8em;
    }
  }
}

// Kajak page CSS
// Tabbed text
.accordion-tabs-minimal {
  $base-border-color: $textColor !default;
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: $orangeColor !default;
  $dark-gray: $textColor !default;
  $medium-screen: 40em !default;
  $tab-link-color: $textColor;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($tab-mode) {
      border-top: 0;
      display: inline-block;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing 3em;
    width: 100%;
    color: $grayColor;
    font-size: 0.8em;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}
.tabbed-text {
  padding: 5% 10% 5% 10%;
  a {
    font-weight: bold;
  }
}

//Price cards
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 1em !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $textColor !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  background-color: #fff;

  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(201, 201, 201, 0.5);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 1.375em 1.875em;

  .card-header {
    background-color: #fff;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  .card-price {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .card-copy, .card-price {
    color: $grayColor;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0 ;

    p {
      margin: 0 ;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
