//Main
main {
  margin: 0;
  padding: 0;
}

.hero-laim {
  background-image: url("../img/hero-laim.jpg");
  background-size: cover;
  background-position: center center;


  .hero-container {
    padding: 5em 0 ;
    text-align: center;

  }
  h1 {
    font-size: 3.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.05em;
    color: white;
    @include media ($large-screen) {
      font-size: 5.625em;
    }
  }
  h2 {
    font-size: .875em;
    font-weight: bold;
    letter-spacing: 0.125em;
    color: $textColor;
  }
}

//Reservation button and hover/focus control

.res-button {
  position: relative;
  color: $orangeColor;
  margin: 1.25em 0 0 -6.75em;
  background: white;
  width: 13.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: solid 0.18em $orangeColor;
  font-size: 1em;
  line-height: 1em;
  left: 50%;


}

.res-button:focus {
  outline: 0;
}

.res-button:hover {
  background: white;
  color: $orangeColor;
  cursor: default;
}

//First grid

a {
  text-decoration: none;
}

.first-grid {
  padding: 5% 8%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;

  @include media ($mobile-screen) {
    grid-template-columns: 1fr 1fr;
  }
  @include media ($large-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.single-home-view {
  background: green;
  height: 12.6em;
  grid-template-columns: 1fr;
  display: grid;
  align-items: center;
}

.nr2 {
  grid-column: auto;
  @include media ($mobile-screen) {
    grid-column: auto;
  }
  @include media ($large-screen) {
    grid-column: 2/4;
  }
}

.nr3 {
  grid-column: auto;
  @include media ($mobile-screen) {
    grid-column: 1/3;
  }
  @include media ($large-screen) {
    grid-column: 1/3;
  }
}

span.house-logo {
  margin: 0 auto 0.8em auto;
  padding: 0;
  width: 3.3em;
  height: 3.3em;
  background: white;
  align-self: flex-end;
  border-radius: 1.65em;
}

span.single-home-button {
  margin: 0 auto;
  padding: 0;
  width: 10em;
  height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
  font-family: "Roboto";
  font-weight: bold;
  background-color: white;
  color: $textColor;
  border-radius: 0;
  align-self: flex-start;
}

.headlines {
  text-align: center;
  font-size: 1.5em;
  color: $textColor;
  padding: 4% 0 2% 0;
}

.galery-grid {
  padding: 0 8% 5% 8%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  justify-items: center;
  @include media ($mobile-screen) {
    grid-template-columns: 1fr 1fr;
  }
  @include media ($large-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.thumb-image {
  width: 20.1875em;

}
